.product-name {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin: 5px 0;
    line-height: 1.2;
}

.product-price {
    padding: 0 0 10px;
}

.add-to-card {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-to-card:hover {
    background-color: rgb(194, 130, 12);
}

.price {
    color: #0066CC;
}


.price-old {
    font-size: 12px;
    color: rgb(134 134 139);
    text-decoration: line-through;
    font-weight: 1;
}

.price-sale {
    color: red;
}








