.price {
    color: #0066CC;
}

.single-product {
    margin-top: 80px;
}



.single-product .col-2 {
    padding: 20px;
    
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2 h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    color: red;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid orange;
    text-align: center;
}

.single-product input:focus {
    outline: none;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
    margin: 0;

}


#related {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}



